<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
</head>

<body>
<img src="/static/logo.png" id="logo">
    <form action="{{ url_for('login') }}" style="border: 1px solid #ccc" method="post">
        <div class="container">
            <h1><i>Login</i></h1>
            <p><i>Please enter your username and password.</i></p>
            <hr>

            <label for="username"><b><i>Username</i></b></label>
            <input type="text" placeholder="Enter username" name="username" required>

            <label for="psw"><b><i>Password</i></b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit" class="loginbtn">Login</button>
        </div>
    </form>

    <style>
    #logo{
        width: 100%;
        height: 400px;
    }
        body {

            background-color: #fff;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            background-size: cover;

        }
    </style>

</body>

</html>